/*!
 * jquery-drawer v3.2.2
 * Flexible drawer menu using jQuery, iScroll and CSS.
 * http://git.blivesta.com/drawer
 * License : MIT
 * Author : blivesta <design@blivesta.com> (http://blivesta.com/)
 */
/*!------------------------------------*\
    追加
\*!------------------------------------*/

p.indent-1 {
padding-left:1em;
text-indent:-1em;
}

.scroll {
    height: 300px;
    width: 100%;
    padding: 5px;
    overflow: scroll;
    border: 1px solid #CCC;
    -webkit-overflow-scrolling: touch;
}


.bold{
	font-weight: bold;
}
div h2.font-s{
	font-size: 16px;
}

.color-w	{
	color: #FFFFFF;
}

.background-image{
	background-image: url('../img/mv.jpg')
}

.background-image-fixed{
	background-image: url('../img/mv_sp.jpg')
}
@media (min-width: 991px) {
.background-image-fixed{
	background-image: url('../img/top_mv.jpg')
	}
}
/*!------------------------------------*\
    Base
\*!------------------------------------*/



.drawer-open {
  overflow: hidden !important;
}

.drawer-nav {
  position: fixed;
  z-index: 101;
  top: 0;
  overflow: hidden;
  width: 200px;
/*  height: 100%;	*/
  color: #222;
}

.drawer-brand {
  font-size: 16px;
  font-weight: bold;
  display:inline-block;
  padding-right: .75rem;
  padding-left: .75rem;
  text-decoration: none;
  color: #222;
}
@media (max-width: 992px) {
	.drawer-brand {
	  font-size: 14px;
	}
}
.drawer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.drawer-menu-item {
  display: block;
  margin: 0 10px;
  padding: 15px 0px;
  text-decoration: none;
  color: #222;
  font-size:14px;
}

.drawer-menu-item:hover {
  text-decoration: underline;
  color: #555;
  background-color: transparent;
}

/*! overlay */

.drawer-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.drawer-open .drawer-overlay {
  display: block;
}

/*!------------------------------------*\
    Top
\*!------------------------------------*/

.drawer--top .drawer-nav {
  top: -100%;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  -webkit-transition: top .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: top .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.drawer--top.drawer-open .drawer-nav {
  top: 0;
}

.drawer--top .drawer-hamburger,
.drawer--top.drawer-open .drawer-hamburger {
  right: 0;
}

/*!------------------------------------*\
    Left
\*!------------------------------------*/

.drawer--left .drawer-nav {
  left: -200px;
  -webkit-transition: left .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: left .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.drawer--left.drawer-open .drawer-nav,
.drawer--left .drawer-hamburger,
.drawer--left.drawer-open .drawer-navbar .drawer-hamburger {
  left: 0;
}

.drawer--left.drawer-open .drawer-hamburger {
  left: 200px;
}

/*!------------------------------------*\
    Right
\*!------------------------------------*/

.drawer--right .drawer-nav {
  right: -200px;
  -webkit-transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.drawer--right.drawer-open .drawer-nav,
.drawer--right .drawer-hamburger,
.drawer--right.drawer-open .drawer-navbar .drawer-hamburger {
  right: 0;
}

.drawer--right.drawer-open .drawer-hamburger {
  right: 200px;
}

/*!------------------------------------*\
    Hamburger
\*!------------------------------------*/

.drawer-hamburger {
  position: fixed;
  z-index: 104;
	/*test*/
  top: 20px;
  display: block;
  box-sizing: content-box;
  width: 2rem;
  padding: 0;
  padding-top: 7px;
  padding-right: .75rem;
  padding-left: .75rem;
  padding-bottom: 20px;
  -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  border: 0;
  outline: 0;
  background-color: transparent;
}

.drawer-hamburger:hover {
  cursor: pointer;
  background-color: transparent;
}

.drawer-hamburger-icon {
  position: relative;
  display: block;
  margin-top: 10px;
}

.drawer-hamburger-icon,
.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  width: 100%;
  height: 2px;
  -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  background-color: #222;
}

.drawer-hamburger-icon:before,
.drawer-hamburger-icon:after {
  position: absolute;
  top: -10px;
  left: 0;
  content: ' ';
}

.drawer-hamburger-icon:after {
  top: 10px;
}

.drawer-open .drawer-hamburger-icon {
  background-color: transparent;
}

.drawer-open .drawer-hamburger-icon:before,
.drawer-open .drawer-hamburger-icon:after {
  top: 0;
}

.drawer-open .drawer-hamburger-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-open .drawer-hamburger-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*!------------------------------------*\
    accessibility
\*!------------------------------------*/

/*!
 * Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content
 */

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/*!
 * Use in conjunction with .sr-only to only display content when it's focused.
 * Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 * Credit: HTML5 Boilerplate
 */

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

/*!------------------------------------*\
    Sidebar
\*!------------------------------------*/

.drawer--sidebar {
  background-color: #fff;
}

.drawer--sidebar .drawer-contents {
  background-color: #fff;
}

@media (min-width: 992px) {
  .drawer--sidebar .drawer-hamburger {
    display: none;
    visibility: hidden;
  }

  .drawer--sidebar .drawer-nav {
    display: block;
    -webkit-transform: none;
            transform: none;
    position: fixed;
    width: 12.5rem;
    height: 100%;
  }

  /*! Left */
  .drawer--sidebar.drawer--left .drawer-nav {
    left: 0;
    border-right: 1px solid #ddd;
  }

  .drawer--sidebar.drawer--left .drawer-contents {
    margin-left: 12.5rem;
  }

  /*! Right */
  .drawer--sidebar.drawer--right .drawer-nav {
    right: 0;
    border-left: 1px solid #ddd;
  }

  .drawer--sidebar.drawer--right .drawer-contents {
    margin-right: 12.5rem;
  }

  /*! container */
  .drawer--sidebar .drawer-container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .drawer--sidebar .drawer-nav {
    width: 200px;
  }

  .drawer--sidebar.drawer--left .drawer-contents {
    margin-left: 200px;
  }

  .drawer--sidebar.drawer--right .drawer-contents {
    margin-right: 200px;
  }

  /*! container */
  .drawer--sidebar .drawer-container {
    max-width: 970px;
  }
}

/*!------------------------------------*\
    Navbar
\*!------------------------------------*/


.drawer-navbar .drawer-navbar-header {
  border-bottom: 1px solid #ddd;
  background:#fff;
}

.drawer-navbar {
  z-index: 102;
  top: 0;
  width: 100%;
}

/*! .drawer-navbar modifier */

.drawer-navbar--fixed {
  position: fixed;
}

.drawer-navbar-header {
  position: relative;
  z-index: 102;
  box-sizing: border-box;
  padding: 5px 0;
  width: 100%;
}

.drawer-navbar .drawer-brand {
  line-height: 80px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}

.drawer-navbar .drawer-brand:hover {
  background-color: transparent;
}

.drawer-navbar .drawer-nav {
  padding-top: 80px;
}

.drawer-navbar .drawer-menu {
  padding-bottom: 7.5rem;
}

@media (max-width: 992px) {
  .drawer-nav {
    background-color: #fff;
  }
}
@media (min-width: 992px) {
  .drawer-navbar {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
  }

  .drawer-navbar .drawer-navbar-header {
    position: relative;
    display: block;
    float: left;
    width: auto;
    padding: 0;
    border: 0;
  }

  .drawer-navbar .drawer-menu--right {
    float: right;
  }

  .drawer-navbar .drawer-menu li {
    float: left;
  }

  .drawer-navbar .drawer-menu-item {
    line-height: 80px;
    padding-top: 0;
    padding-bottom: 0;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
  }

  .drawer-navbar .drawer-hamburger {
    display: none;
  }

  .drawer-navbar .drawer-nav {
    position: relative;
    left: 0;
    overflow: visible;
    width: auto;
    padding-top: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .drawer-navbar .drawer-menu {
    padding: 0;
  }

  /*! dropdown */
  .drawer-navbar .drawer-dropdown-menu {
    position: absolute;
    width: 200px;
    border: 1px solid #ddd;
  }

  .drawer-navbar .drawer-dropdown-menu-item {
    margin: 0 15px;
    padding: 0;
  }
}

/*!------------------------------------*\
    Dropdown
\*!------------------------------------*/

.drawer-dropdown-menu {
  display: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color: #fff;
}
@media only screen and (min-width: 321px) and (max-width: 991px) {
	.drawer-dropdown-menu {
	  padding: 0 0 0 10px;
	  background-color: #fff;
	}
}
.drawer-dropdown-menu > li {
  width: 100%;
  list-style: none;
}

.drawer-dropdown-menu-item {
  line-height: 40px;
  display: block;
  text-decoration: none;
  color: #222;
  margin:0 10px;
}

.drawer-dropdown-menu-item:hover {
  text-decoration: underline;
  color: #555;
  background-color: transparent;
}

/*! open */

.drawer-dropdown.open > .drawer-dropdown-menu {
  display: block;
}

/*! drawer-caret */

.drawer-dropdown .drawer-caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease;
  transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/*! open */

.drawer-dropdown.open .drawer-caret {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/*!------------------------------------*\
    Container
\*!------------------------------------*/

.drawer-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .drawer-container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .drawer-container {
    max-width: 1170px;
  }
}

@media (min-width: 992px) {
  .drawer-dropdown:hover .drawer-dropdown-menu {
    display: block;
  }
}
@media only screen and (min-width: 321px) and (max-width: 991px) {
  .drawer-dropdown-menu {
    display: block;
  }
  .drawer-navbar .drawer-nav{
    height:100%;
    max-height:737px;
    overflow:scroll;
  }
}


.drawer-menu .btn {
	color: #ffffff;
	background-color: #333;
	border-color: #444;
	padding: 5px 30px;
	line-height: 30px;
	margin-top:20px;
	margin-left:20px;
	border-radius:23px;
}
.drawer-menu .btn:hover {
	background-color: #666;
	border-color: #555;
	text-decoration: none;
}

@media only screen and (min-width: 321px) and (max-width: 991px) {
	.drawer-menu .btn {
		padding: 5px 20px;
		line-height: 30px;
		margin-left:10px;
		margin-right:10px;
	}
	.drawer-menu-item {
	  margin: 0 10px;
	  padding: 10px 0px;
	}

}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	padding:8px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	speak: none;
	line-height: 30px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
	content: "";
	width:15px;
	height:15px;
	background: url(../img/icon.png) center center no-repeat;
	background-size: cover;
	color:#000;
/*
	content: url(../img/icon.svg);
*/
}
/* Effect 5 */
.hi-icon-effect-5 .hi-icon {
	box-shadow: 0 0 0 2px rgba(255,255,255,1);
	background: #555;
	overflow: hidden;
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	margin-bottom:20px;
}

.hi-icon-effect-5 .hi-icon:after {
	display: none;
}

.hi-icon-effect-5 .hi-icon:hover {
	background: #666;
	color: #702fa8;
	box-shadow: 0 0 0 3px rgba(255,255,255,0.3);
}

.hi-icon-effect-5c .hi-icon:hover:before {
	-webkit-animation: toTopFromBottom 0.3s forwards;
	-moz-animation: toTopFromBottom 0.3s forwards;
	animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}


.btn-hover {
  transition: all .2s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-hover:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: -2;
}
.btn-hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #666;
  transition: all .2s;
  z-index: -1;
}
.btn-hover:hover {
  color: #fff;
}
.btn-hover:hover:before {
  width: 100%;
}

#news a.activeMenu:after {
  background-color: #666;
}
#news .btn-hover {
	margin:5px;
}

#news {
	margin-bottom:30px;
}

.linkBox h3 {
	/*font-size:14px;*/
	font-size:20px;
	margin-top:20px;
	margin-bottom:20px;
}
.linkBox p {
	font-size:14px;
	margin-bottom:30px;
}

.linkBox div:last-child p {
	margin-bottom:0;
}


.linkBox div:hover,
.linkBox li:hover {
	opacity: .5;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity=50);	/* IE lt 8 */
	-ms-filter: "alpha(opacity=50)"; /* IE 8 */
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity .3s ease-out;
	-ms-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
}

.linkBox div.nohover:hover {
	opacity: 1;
}

a.drawer-menu-item,
a.drawer-dropdown-menu-item {
  text-decoration: none;
  position: relative;
}
a.drawer-menu-item:hover,
.drawer-dropdown-menu-item:hover {
  text-decoration: none;
}
a.drawer-menu-item:after,
a.drawer-dropdown-menu-item:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transition: .3s;
  opacity: 0;
}
a.drawer-menu-item:after {
  bottom: 0;
}
a.drawer-dropdown-menu-item:after {
  bottom: 5px;
}
.active a.drawer-menu-item:after,
a.drawer-menu-item:hover:after,
a.drawer-dropdown-menu-item:hover:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background: #555;
  transition: .2s;
  opacity: 1;
  transform: scaleX(1);
}
a.drawer-menu-item:hover:after {
  height: 3px;
  bottom: 0;
}
a.drawer-dropdown-menu-item:hover:after {
  bottom: 5px;
  height: 2px;
}
#title h1 {
  line-height: 30px;
  padding:50px 0 20px 0;
  font-weight:400;
  font-size:32px;
  color: #fff;
  text-shadow:0px 0px 3px #0b0b0b;
}
@media screen and (max-width: 768px) {
	#title h1 {
	  font-size:22px;
	  padding:20px 0 0 0;
	  line-height: 20px;
	}
}
.separator-x,
.separator-y{
position:relative;
}
.separator-x:before,
.separator-y:before{
position:absolute;
top:0;
display:block;
width:1px;
height:100%;
content:'';
background-color:#ddd;
}
.separator-x:before{
right:-20%;
}
.separator-y:before{
left:-20%;
}

@media screen and (max-width: 992px) {
	.separator-x:before,
	.separator-y:before{
	display:none;
	}
	
	.fl{
		display: flex;
		flex-direction: column;
	}
	
	.col-md-8{
		order: 2;
	}
	
	.col-md-4{
		order: 1;
	}
}


#mapArea{
	height:462px;
	overflow:hidden;
	width:100%;
	margin:0;
	background:#3b323c;
}
#mapArea iframe{
	width:100%;
	height:100%;
}
#map img { max-width: none; }

.pagination > li > a,
.pagination > li > span {
  color: #fff;
  background-color: #555;
  border: 1px solid #666;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #fff;
  background-color: #666;
  border-color: #555;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #fff;
  background-color: #666;
  border-color: #555;
}

.col-md-10 p.text-center img {
	margin: 0 auto;
}

#about dl, #licence dl {
	border-bottom:#ddd solid 1px;
	padding-bottom:20px;
}
#about dl dt, #licence dl dt
	font-weight: normal;
	text-align: left;
}
dl {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
	width:9em;
  }
	
	#licence .dl-horizontal dt {
	text-align: left;
	width: 13em;
	}
	
  .dl-horizontal dd {
    margin-left: 10em;
  }
	
	#licence .dl-horizontaldd {
	margin-left: 13em;
	}
}

#contactBox {
	background:#eee;
	padding:30px 30px 20px 30px;
}

#contactBox .form-control {
  border: 2px solid #fff;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out 0, box-shadow ease-in-out 0;
  -o-transition: border-color ease-in-out 0, box-shadow ease-in-out 0;
  transition: border-color ease-in-out 0, box-shadow ease-in-out 0;
}
#contactBox .form-control:focus {
  border: 2px solid #666;
  outline: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.red_-text {
	color:#f00;
}

#contactBox table {
	margin-bottom:20px;
}


.confirm div {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}














.drawer-brand img {
	display:inline-block;
	width: 280px;
	padding:7px 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
*/
/*変更
.drawer-brand img {
	display:inline-block;
	width: 70px;
	padding-top:10px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}*/

@media (max-width: 992px) {
	.drawer-brand img {
		padding-top:14px;
		padding-bottom:10px;
	}
}

.drawer-navbar {
	background-color: rgba(255, 255, 255, 1);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-backface-visibility: hidden;
}

.past-main .drawer-hamburger {
  top: 0px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.drawer-navbar.past-main .drawer-brand {
  line-height: 60px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

/*navの移動の時のロゴサイズの変更可能*/
.drawer-navbar.past-main .drawer-brand img {
	width: 220px;
	padding-top: 4px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

@media (max-width: 992px) {
	/*.drawer-navbar.past-main .drawer-nav {
	  padding-top: 53px;
	}
	/*test*/
	.drawer-navbar.past-main .drawer-nav {
	  padding-top: 65px;
	}
	.drawer-navbar.past-main .drawer-brand {
	  line-height: 40px;
	}
	
	/*test*/
	.drawer-navbar.past-main .drawer-brand img {
		padding: 0 0 0 0;
		width: 200px;
		height: auto;
	}
	/*test*/
	.past-main .drawer-hamburger {
	  top: 0px;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
	
	.drawer-brand img {
		padding-top:5px;
		padding-bottom:5px;
	}
}
@media (max-width: 455px) {
	.drawer-navbar .drawer-brand img {
		/*padding-top:23px;
		padding-bottom:23px;*/
		width: 180px;
		height: auto;
	}
	.drawer-navbar.past-main .drawer-brand img{
	    width:160px;
	}
	
	.drawer-navbar.past-main .drawer-nav {
	  padding-top: 40px;
	}
	/*test
	.drawer-navbar.past-main .drawer-nav {
	  padding-top: 65px;
	}*/
}


@media (min-width: 992px) {
  .drawer-navbar.past-main .drawer-menu-item {
	 /*60test*/
    line-height: 60px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
  }
  .drawer-navbar.past-main .drawer-menu .btn {
    padding: 5px 30px;
    line-height: 30px;
    margin-top:8px;
  }
}



.scroll-section {
padding-top: 60px;
  position: absolute;
  left: 50%;
  bottom: 3rem;
  z-index: 1;
}
.scroll-section a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #555;
	border-bottom: 1px solid #555;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 1.5s infinite;
	animation: sdb 1.5s infinite;
	opacity: 0;
	box-sizing: border-box;
}
.scroll-section span:nth-of-type(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.scroll-section span:nth-of-type(2) {
	top: 16px;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}

@-webkit-keyframes sdb {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

#first-section,
#service01,
#service02,
#service03,
#service04 {
	margin-top:-60px;
	padding-top:60px;
}
@media (max-width: 992px) {
	#first-section {
		margin-top:-40px;
		padding-top:40px;
	}
	.section {
	  position: relative;
	  padding: 35px 0;
	}
	.serviceBox .img-responsive {
		margin-bottom: 10px;
	}
}

.title-line {
	line-height:50px;
	font-weight:400;
	margin-bottom:35px;
	display:inline-block;
	position:relative;
}
@media screen and (min-width: 768px) {
	.title-line {
		font-size:32px;
		line-height:35px;
		margin-bottom:65px;
	}
}

.title-line:after {
	content:"";
	display:block;
	width:50px;
	height:3px;
	background:#5b4c5c;
	position:absolute;
	top:55px;
	left:50%;
	margin-left:-25px;
}

.one-box p,
.one-box ol {
	margin-bottom:30px;
}
.well  p {
	margin:0;
}
.one-box li {
	margin-bottom:20px;
}
.one-box ol,
.one-box ul {
	padding:0 0 0 1em;
}
.readBox {
	margin-bottom:50px;
}
@media screen and (max-width: 768px) {
	.one-box ol {
		padding:0 0 0 2em;
	}
	.one-box ul {
		padding:0 0 0 1.5em;
	}
}
.one-box h2 {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
	.one-box h2 {
	  font-size: 18px;
	}
}
footer .btn {
	margin:0 0 15px 5px;
}
.copyright {
	text-align: center;
	padding:10px 0;
	color:#fff;
	background:#333;
	line-height: 12px;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-size:12px;
}
@media screen and (max-width: 768px) {
	.copyright {
		font-size:8px;
	}
}
#pageTop{
	position:fixed;
	bottom:20px;
	right:20px;
}
a#pageTop:hover,
a#pageTop:focus {
	text-decoration: none;
}

.media p.media-heading {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
	.media .pull-left {
	  display:none;
	}
	.media {
		border-bottom:#eeeeee solid 1px;
		padding-bottom:10px;
		margin-bottom:20px;
	}
	.media p.media-heading {
	  margin-bottom: 0;
	}
}
@media screen and (min-width: 768px) {
	.media {
		height:110px;
		overflow: hidden;
		word-break: break-all;
	}
	.media .pull-left {
		width:165px;
	}
	.media .pull-left img {
		max-width:150px;
		max-height:110px;
	}
	.media-body p {
		line-height:25px;
	}
}

#breadcrumbBox {
	background-color: #f5f5f5;
}
#breadcrumbBox ul {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #breadcrumbBox ul {
    width: 750px;
  }
	div h2.font-s{
	font-size: 16px;
		
}
}
@media (min-width: 992px) {
  #breadcrumbBox ul {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #breadcrumbBox ul {
    width: 1170px;
  }
}

.breadcrumb {
	margin-top:80px;
	margin-bottom:0px;
	padding:10px 0;
	font-size:14px;
}
@media (max-width: 768px) {
	.breadcrumb {
		font-size:10px;
	}
}
@media (max-width: 455px) {
  .breadcrumb {
    margin-top:61px;
  }
}

.breadcrumb > li + li:before {
  content: ">";
}

#sitemap {
	padding-left:0;
}
#sitemap li {
	list-style:none;
	border-bottom:solid 1px #999;
	padding-bottom:20px;
}
#sitemap li ul {
	margin-top:20px;
	padding-left:1em;
}
#sitemap li li {
	border-bottom:none;
	padding-bottom:0px;
}
#sitemap li li:last-child {
	margin-bottom:10px;
}

.serviceBox p .btn {
	color: #ffffff;
	border-radius:23px;
	margin: 30px auto;
	width:50%;
	display:block;
	padding:10px 0;
}
@media (min-width: 768px) {
  .serviceBox p .btn.right {
    float: right;
  }
}
.size, p.size{
	font-size: 1.7rem;
}
